#
HOST=0.0.0.0

#
PORT=3000

#
NODE_ENV=development

#
AUTH_SALT=ritmos-bot-salt

# Bot Directory Path (relative to web directory or absolute path)
BOT_DIR=../new-version/dist

# Auth File Path (relative to web directory or absolute path)
AUTH_PATH=./auth.json

# 
BOT_ESTIMATED_ELAPSED_SECONDS=120

#
MAX_PROFILE=4